:root{
    --largura: 90%;
    --mostarReferencia: none;
}

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1px solid #7a7a7a;
    text-align: center;
}

th {
    background-color: #c1c1c1;
}

tr:nth-child(even){
    background-color: #dedede;
}

.tabelas-referencias{
    width: 98%;
    display: none;
    flex-direction: column;
    align-items: center;
}


iframe{
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #7a7a7a;
    width: calc(100% - 16px);
    height: 30vh;
}

.ref{
    display: var(--mostarReferencia);
}

#outputExpressao:hover{
    cursor: grab;
}

.titulo-tabela{
    font-size: 14px;
    font-weight: bold;
}

.colapso{
    display: var(--mostarReferencia);
    border-radius: 5px;
    text-align: center;
    background-color: #c1c1c1;
    width: var(--largura);
}

.colapso:hover{
    cursor: pointer;
    background-color: #7a7a7a;
    color: #dedede;
}

.geral{
    width: 80%;
}

#secao-dimensionamento td, #secao-dimensionamento th{
    width: calc(100% / 15);
}

.hospedagem_sub_trecho th{
    background-color: #cfe2ff;
}

