:root{
    --largura: 60%;
}

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1px solid #7a7a7a;
    text-align: center;
}

th {
    background-color: #c1c1c1;
}

tr:nth-child(even){
    background-color: #dedede;
}

.tabelas-referencias{
    width: 98%;
    display: none;
    flex-direction: column;
    align-items: center;
}


iframe{
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #7a7a7a;
    width: calc(100% - 16px);
    height: 30vh;
}

.titulo-tabela{
    font-size: 14px;
    font-weight: bold;
}

.colapso{
    border-radius: 5px;
    text-align: center;
    background-color: #c1c1c1;
    width: var(--largura);
}

.colapso:hover{
    cursor: pointer;
    background-color: #7a7a7a;
    color: #dedede;
}

.geral{
    width: 80%;
}

@media (max-width: 1200px){
    :root{
        --largura: 70%;
    }
}

@media (max-width: 900px){
    :root{
        --largura: 95%;
    }
    .geral{
        width: 95%;
    }
}

@media (max-width: 700px){
    *{
        font-size: 12px;
    }
}